body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#world {
  background-color: white;
  color: black;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

#up,
#down {
  display: block;
  font-size: 2rem;
}

#new-game {
  display: block;
}
